/* CSS Document */

h5 {
	color:blueviolet; font-size: 23px ;
}
h6 {
	color:blueviolet; font-size: 23px ;
}
h7 {
	color:blueviolet; font-size: 23px ;
}
h8 {
	color:blueviolet; font-size: 23px ;
}
#photo{
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
}