/* CSS Document */

#backtop a { /* back to top button */
	position: fixed;
	bottom: 0px; /* 小按钮到浏览器底边的距离 */
	right: 50px; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	z-index: 1000;
	background: #cfcfcf; /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	border-radius: 4px; /* 小按钮圆角的弯曲程度（半径）*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal; /* 小按钮中文字的粗细 */
	text-decoration: none !important;
}

#backtop a:hover { /* 小按钮上有鼠标悬停时 */
	background: #333; /* 小按钮的底色 */
	color: #fff; /* 文字颜色 */
}